/*imagen para conectores rj45*/
.bgcrj45 {
  /* The image used */
  background-image: url("src/assets/images/conector_rj45.jpg");

  /* Half height */
  height: 200px;
  width: 150px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*imagen para conectores jack rj45*/
.bgjrj45 {
  /* The image used */
  background-image: url("src/assets/images/jackrj45.jpg");

  /* Half height */
  height: 200px;
  width: 150px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*imagen para conectores rack de datos*/
.bgrkdt {
  /* The image used */
  background-image: url("src/assets/images/rack.jpg");

  /* Half height */
  height: 200px;
  width: 150px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*imagen para conectores patchcord*/
.bgpcrt {
  /* The image used */
  background-image: url("src/assets/images/patchcord.jpg");

  /* Half height */
  height: 200px;
  width: 150px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*imagen para conectores cableado estructurado*/
.bgcbes {
  /* The image used */
  background-image: url("src/assets/images/cable-estructurado.jpg");

  /* Half height */
  height: 200px;
  width: 150px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
