<div class=" body">
  <div class="row">
    <div class="col-4 bgcrj45" >

      <a >Conectores Rj 45</a>
    </div>
    <div class="col-4 bgjrj45">.col-4</div>
    <div class="col-4 bgrkdt">.col-4</div>
  </div>

  <div class="row">
    <div class="col-sm-4 bgpcrt">.col-sm-4</div>
    <div class="col-sm-4 bgcbes">.col-sm-4</div>
    <div class="col-sm-4">.col-sm-4</div>
  </div>

  <div class="row">
    <div class="col-md-4 ">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
  </div>

  <div class="row">
    <div class="col-lg-4">.col-lg-4</div>
    <div class="col-lg-4">.col-lg-4</div>
    <div class="col-lg-4">.col-lg-4</div>
  </div>

  <div class="row">
    <div class="col-xl-4">.col-xl-4</div>
    <div class="col-xl-4">.col-xl-4</div>
    <div class="col-xl-4">.col-xl-4</div>
  </div>
</div>
