<div class="card card-body">

  <div class="table ">
 <table class="table table-sm table-hover">
    <thead>
        <tr class="blue text-white">
            <th scope="col">nombre</th>
            <th scope="col">descripcion</th>
            <th scope="col">precio</th>
            <th scope="col">unidad</th>
            <th scope="col">cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Productos of Servicios">
          <td>{{Productos.name}}</td>
          <td>{{Productos.descripcion}}</td>
          <td>{{Productos.precio}}</td>
          <td>{{Productos.unidad}}</td>
          <td>{{Productos.cantidad}}</td>
<a class="btn btn-secondary text-white" (click)="onEdit(Productos)">
  <i class="fa fa-edit" aria-hidden="true"></i>
</a>
<a  class="btn btn-danger text-white" (click)="onDelete(Productos.$key)" href="#">
  <i class="fa fa-trash" aria-hidden="true"></i>
</a>
        </tr>

    </tbody>
 </table>


  </div>
</div>
<div class="container">
  <div class="fx-row">
    <app-productos></app-productos>
  </div>


</div>
